// -single.jade
#modules-container.container.modules-container
	#modules.modules
		include ./includes/module-meta.jade
		include ./includes/module-time.jade
		include ./includes/module-settings.jade
		include ./includes/module-finder.jade
		include ./includes/module-timeline.jade
		include ./includes/module-sequence-text.jade

script.
	var sub_data = !{JSON.stringify(subJSON)}