//- includes/head.jade
doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		meta(http-quiv="X-UA-Compatible", content="IE-edge")
		title SubVis 0.1
		link(rel="stylesheet", href="/res/css/reset.css")
		link(rel="stylesheet", href="/res/css/awesomplete.css")
		link(rel="stylesheet", href="/res/css/styles.css")
	body
		div#outer-container.container.outer-container
		
			div#header-container.container.header-container
				span#logo.logo SubVis V0.1
				div#search-box.search-box
					datalist(id='subs')
						- each val in subs
							option(label= val.imdb)= val.value
					input#search-movie.search-movie(list='subs', placeholder='Type in a movie title', autofocus)
					button#btn-search-movie.btn.btn-search-movie Search
			
			div#content-container.container.content-container