// -includes/meta.jade
#module-meta.module.module-meta
	ul#list-meta.list.list-meta
		li.li-item.li-item-meta= sub.get('title')
		li.li-item.li-item-meta= sub.get('year')
		li.li-item.li-item-meta= sub.get('rating')