// -includes/module-toplists.jade
#module-toplists.module.module-toplists
	h3.module-title toplists
	.module-content
		.module-item-block
			h4.item-title top 5 words
		.module-item-block
			h4.item-title top 5 verbs
		.module-item-block
			h4.item-title top 5 nouns
		.module-item-block
			h4.item-title top 5 adjectives
		.module-item-block
			h4.item-title top 5 adverbs
		.module-item-block
			h4.item-title top 5 entities