// -includes/module-sequence-text.jade
#module-sequence-text.module.module-sequence-text
	h3.module-title Sequence Text
		span.tooltip
	.module-content
		h4.item-title current sequences
		.module-item.fromto-sequences
		#current-sequences