// -includes/module-statistics.jade
#module-statistics.module.module-statistics
	h3.module-title statistics
		span.tooltip
	.module-content
		h4.item-title word count
		.module-item
		h4.item-title sentences
		.module-item
		h4.item-title avg words in sentence
		.module-item
		h4.item-title words per minute
		.module-item
		h4.item-title sentences per minute
		.module-item