// -includes/module-settings.jade
#module-settings.module.module-settings
	h3.module-title Settings
		h4.item-title first sequence
		#first-text.module-item #{sub.getFirstText()}
			#remove-btn-first.remove-btn(title='Remove this Sequence') X
		h4.item-title last sequence
		#last-text.module-item #{sub.getLastText()}
			#remove-btn-last.remove-btn(title='Remove this Sequence') X