// -includes/module-finder.jade
#module-finder.module.module-finder
	h3.module-title finder
	.module-content
		h4.item-title word finder
		.module-item
			input#word-finder.word-finder
		h4.item-title#finder-results results
		#finder-results-div.module-item
			ul#finder-results-list.finder-results.list