// -includes/meta.jade
#module-meta.module.module-meta
	h3.module-title Meta Infos
		h4.meta-title movie title
		.meta-item #{sub.get('title')}
		h4.meta-title movie year
		.meta-item #{sub.get('year')}
		h4.meta-title imdb rating
		.meta-item #{sub.get('rating')}