// -includes/time.jade
#module-time.module.module-time
	h3.module-title Time
	
		h4.item-title last time
		#time-last-time.module-item #{sub.getTimeString('length')}
		h4.item-title first time
		#time-first-time.module-item #{sub.getTimeString('first')}
		h4.item-title sequence count
		#time-sequence-count.module-item #{sub.getSequenceCount()}
		h4.item-title speech duration
		#time-speech-duration.module-item #{sub.getTimeString('speechduration')}