// -includes/module-timeline.jade
#module-timeline.module.module-timeline
	h3.module-title Timeline
	.module-content
		h4.item-title interval control
		#timeline-control.timeline-control
			p.info-text determines how many sequences will be analysed together
			input#timeline-range.timeline-range(min='1', type='range', name='timeline-interval')
			input#timeline-interval.timeline-interval
			span &nbsp;min
		h4.item-title interval visualisation
		#timeline-box