// -includes/module-wordcloud.jade
#module-wordcloud.module.module-wordcloud
	h3.module-title wordcloud
	.module-content
		h4.item-title word cloud
		#word-cloud
		a#download-svg.btn.btn-download-svg(target='_blank') Download SVG
		a#download-png.btn.btn-download-png(target='_blank') Download PNG