/* generics */

body {
	background: #efefef;
	color: #666;
	font-family: 'open sans', sans-serif;
	font-size: 1em;
}

a {
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}

h1 {
	border-bottom: 1px solid #333;
	font-size: 2em;
	margin: 0.2em 0;
	padding: 0.2em 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1.6em;
	margin: 0.4em 0;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	font-size: 1.4em;
	text-align: right;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #ccc;
}

h4 {
	font-size: 1.2em;
	border-bottom: 1px solid #333;
	margin: 10px 0 5px 0;
}

button, .btn {
	border: none;
	border-radius: 5px;
	color: #999;
	cursor: pointer;
	line-height: 34px;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 10px;
}
/* containers */

.container {
	padding: 5px;
}

.outer-container {
	padding: 0;
}

.modules-container {}
/* header */

.header-container {
	background: #333;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	padding: 0 5px;
	text-transform: uppercase;
}

.error {
	position: fixed;
	display: none;
	background: #fff;
	border: 5px solid red;
	color: red;
	width: 50%;
	left: 25%;
	text-align: center;
	padding: 5px;
	z-index: 100;
	top: 80px;
}
.spinner-container {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(255,255,255,0.8);
	z-index: 5;
}
.spinner-inner {
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -25%;
	background: #fff;
	border-radius: 10px;
	border: 10px solid rgba(0,0,0,0.5);
	width: 50%;
	text-align: center;
}
.spinner {
	width: 30px;
	height: 30px;
	background-color: #333;
	
	margin: 10px auto;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

.quote-meta {
	text-align: right;
	text-transform: uppercase;
	margin: 10px;
	color: #fff;
	font-weight: bold;
}
.quote-meta span {
	padding: 5px;
	background: #aaa;
}

.quote-text {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	margin: 5px;
}
/* Logo */

.logo {
	font-size: 1.8em;
	line-height: 50px;
	padding: 0 10px;
}
/* Search */

.search-box {
	position: absolute;
	top: 50%;
	left: 25%;
	margin: auto;
	padding: 2px;
	overflow: auto;
	width: 50%;
}

.search-box-header {
	left: auto;
	position: relative;
	top: auto;
}

.search-box-header > input,
.search-box-header > button {
	height: 40px;
}

.search-box-header > button {
	padding-top: 5px;
}

.search-movie {
	border: none;
	color: #999;
	height: 50px;
	margin: 0 auto;
	outline: none;
	padding: 10px;
	width: 100%;
}

/* content */
/* modules */

.modules {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
}

.module {
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin: 5px 0.5%;
	padding: 5px;
	min-height: 200px;
	width: 15%;
}
.module h3 {
	position: relative;
}

.tooltip-container {
	background: #fff;
	color: #333;
	position: absolute;
	text-align: left;
	z-index: 5;
	text-transform: none;
	box-shadow: 0 0 0 10px rgba(0,0,0,0.5);
	padding: 5px;
	width: 400px;
}
.lefty {
	left: -300px;
}
.tooltip-header {
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
}
.tooltip-content {
	font-size: 0.7em;
	margin: 2px;
}

.tooltip {
	border-radius: 13px;
	display: inline-block;
	position: absolute;
	left: 0;
	color: #fff;
	padding: 2px;
	margin: 0;
	text-align: center;
	width: 26px;
	height: 26px;
	background: #ccc;
}
.tooltip:before {
	content: '?';
}
/* module items */

.module-item {
	text-align: right;
	background: #efefef;
	padding: 5px;
}

.key {
	display: inline-block;
	background: #333;
	color: #fff;
	margin: 2px;
	padding: 2px;
}
.amount {
	display: inline-block;
	margin: 2px;
	padding: 2px;
}
/* meta module */

.list-meta {}
/* settings module */

.module-settings .module-item {
	padding-top: 24px;
	position: relative;
}

.remove-btn {
	background: #efefef;
	border-radius: 20px;
	color: #F62459;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 2px;
	text-align: center;
	top: 2px;
	width: 20px;
}

.remove-btn:hover {
	background: #fff;
	cursor: pointer;
}

/* timeline module */

.module-timeline {
	width: 100%;
}

#timeline-box {
	width: 100%;
	height: 400px;
}

.timeline-range {
	width: 50%;
	margin: 5px;
}

.timeline-interval {
	width: 30px;
	margin: 5px;
}

/* module sequence text */

#module-sequence-text {
	width: 48%;
}

.sequence-text-item {
	display: block;
	border-bottom: 1px solid #fff;
}
.sequence-text-item span {
	background: #efefef;
	display: inline-block;
	padding: 4px;
}
.sequence-text-item .sequence-text-time {
	margin-top: 10px;
	background: #333;
	color: #efefef;
}
#current-sequences {
	overflow-y: scroll;
	height: 450px;
	margin: 5px;
}

.tok {
	
}

.tok.NN {
	background: #19b5fe;
}
.tok.VBP {
	background: #f1a9a0;
}
.tok.IN {
	background: #e2a6a6;
}
.tok.JJ {
	background: #aea8d3;
}
.tok.PRP {
	background: #36d767;
}
.tok.NNO {
	background: #87d37c;
}
.tok.RB {
	background: #03c9a9;
}
.tok.CP {
	background: #65c6bb;
}
.tok.VBG {
	background: #f5d76e;
}
.tok.DT {
	background: #f4b350;
}
.tok.CC {
	background: #f9bf3b;
}
.tok.CD {
	background: #bdc3c7;
}
.tok.VBN {
	background: #f2f1ef;
}
.tok.RBR {
	background: #e08283;
}
.tok.VBD {
	background: #aea8d3;
}
.tok.UH {
	background: #f64747;
}
.tok.MD {
	background: #90c695;
}
.tok.PP {
	background: #1ba39c;
}
.tok.VB {
	background: #2abb9b;
}
.tok.VBZ {
	background: #f5d76e;
}
.tok.NNA {
	background: #f7ca18;
}
.tok.EX {
	background: #e87e04;
}
.tok.JJR {
	background: #d2527f;
}
/* module finder */
.finder-item {
	list-style: none;
}
#word-finder {
	width: 90%;
}

/* module wordcloud */
#module-wordcloud {
	width: 48%;
	height: 600px;
}
#word-cloud {
	text-align: center;
}

/* module toplists */
#module-toplists {
	width: 100%;
}
#module-toplists .module-content {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#module-toplists .module-item-block {
	width: 15%;
	margin: 5px;
}
.toplist-item {
	list-style-type: decimal;
	margin-left: 20px;
}